__pycache__/
testing.h5ad
.vscode/settings.json
data
.ipynb_checkpoints
scIB.egg-info
*cache*

.Rproj.user
Benchmarking_data_integration.Rproj
.DS_Store
.Rhistory
Personal_note_Kris.Rmd
notebooks/integration/*.html
notebooks/integration/*.py
notebooks/integration/figures
notebooks/data_preprocessing/brain_atac/*.html
notebooks/data_preprocessing/brain_atac/*.py
notebooks/data_preprocessing/brain_atac/figures